/* 
    General Styles
*/
body{
  background-color: black;
}
h1{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
.card-text{
  color: black;
}

#starwarslogo{
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}
#starwarslogo:hover{
  --escala: 1.2;
  cursor:pointer;
}

.card{
  transform: scale(var(--escala, 0.9));
  transition: transform 0.25s;
}
.card:hover{
  --escala: 1;
  cursor:pointer;
}
#specialButton {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#specialButton:hover {
  letter-spacing: 3px;
  background-color: hsl(237, 96%, 42%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

#specialButton:active {
  letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
